<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DatabaseMaker.Properties.Settings.ConnectionString"
            connectionString="character set=UTF8;data source=localhost;initial catalog=D:\AUTORUN_V1.1.fdb;user id=sysdba;password=masterkey"
            providerName="FirebirdSql.Data.FirebirdClient" />
    </connectionStrings>
</configuration>